@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kanit);
}
.fontpacifico {
  font-family: var(--font-pacifico);
}
.fontacme {
  font-family: var(--font-acme);
}
.headerbg {
  background-image: url("../assets/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar {
  display: none;
}
